@tailwind base;
@tailwind components;
@tailwind utilities;

.Rectangle-898 {

  width: 106px;
  height: 100vh;
  overflow-y: hidden;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
}
